[project]
	description = android untils snippet for faster development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vuhung3990 (vuhung3990)
[access "refs/for/refs/*"]
	read = group user/vuhung3990 (vuhung3990)
	push = group user/vuhung3990 (vuhung3990)
	label-Code-Review = -2..+2 group user/vuhung3990 (vuhung3990)
	label-Verified = -1..+1 group user/vuhung3990 (vuhung3990)
	rebase = group user/vuhung3990 (vuhung3990)
	removeReviewer = group user/vuhung3990 (vuhung3990)
	submit = group user/vuhung3990 (vuhung3990)
[access "refs/heads/*"]
	read = group user/vuhung3990 (vuhung3990)
	create = group user/vuhung3990 (vuhung3990)
	push = +force group user/vuhung3990 (vuhung3990)
	pushMerge = group user/vuhung3990 (vuhung3990)
[access "refs/tags/*"]
	push = +force group user/vuhung3990 (vuhung3990)
	pushTag = group user/vuhung3990 (vuhung3990)
	pushSignedTag = group user/vuhung3990 (vuhung3990)
